.sectionFinalJuego {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPrincipalFinalJ {}

.divH1PFinalJ {}

.h1FinalJ {}

.pFinalJ {}

.divBtnFinalJ {}

.buttonJugarFinal {}

.buttonSalirFinal {}