.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #002333;
    
    width: 100%;
    max-width: 500px;
    min-height: 300px;

    padding: 1.5rem;
    margin: 0 auto;

    border-radius: 1rem;
    transition: box-shadow 0.2s ease-in-out;
}

.inicio:hover {
    box-shadow: 0 0 10px #002333;
}

.h1Inicio {
    padding-bottom: 2rem;
    color: white;
}

.divFormInicio {
    display: flex;
    flex-direction: column;
}

.formInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelInicio {
    padding-bottom: 0.6rem;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    color: white;
}

.inputInicio {
    background-color: #002333;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 2px;

    padding: 0.7rem 0.5rem 0.4rem 0.2rem;
    width: 100%;
    max-width: 200px;
    margin-top: 0.5rem;

    font-size: 1rem;

    transition: border-color 0.2s ease;

    color: white;
}

.inputInicio:focus {
    outline: none;
}

.inputInicio::placeholder {
    color: white;
    font-size: 0.89rem;
}

.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.35rem;
}

.buttonInicio {
    margin-top: 1.5rem;
    border: none;
    border-radius: 4px;

    min-width: 100px;
    min-height: 25px;

    background-color: #159A9C;
    color:black;

    font-size: 1rem;

    padding: 0.5rem 1rem;

    transition: background-color 0.5s ease, color 0.5s ease;
}

.buttonInicio:hover {
    background-color: rgb(232, 244, 244);
    color: black;

    cursor: pointer;
}

.noMostrarMensaje {
    display: none;
}

.nameVacio {
    color: white;

    padding-top: 0.4rem;
}