html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    min-height: 100vh;
    background-color: #b7ddff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background: #ffde2382;
    
    color: black;
    text-align: center;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: none;

    padding: 0.2rem;

    border-radius: 5px;
}

.app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aFooter {
    text-decoration: none;
    color: black;
}

.aFooter:hover {
    color: rgb(69, 99, 130);
}