html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    min-height: 100vh;
    background-color: #b7ddff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background: #464040;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}